# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [32]:
df1 = pd.read_csv("../WeatherPy/weather.csv")

df1

,Unnamed: 0,City,Country,Lat,Lon,Humidity,Pressure,Temp,Cloudiness,Wind Speed
0,0,Paraná,AR,-31.73,-60.52,30,1011,19.65,0,3.59
1,1,Raja,SS,8.46,25.68,94,1012,22.29,100,1.37
2,2,Punta Arenas,CL,-53.15,-70.92,56,1011,5.00,20,12.30
3,3,Hermanus,ZA,-34.42,19.23,91,1021,8.33,24,3.09
4,4,Ushuaia,AR,-54.80,-68.30,80,1005,2.00,40,9.30
5,5,Shelburne,CA,44.08,-80.20,49,1022,19.25,20,6.70
6,6,Russell,US,32.35,-85.20,74,1017,26.52,90,4.10
7,7,Bluff,NZ,-46.60,168.33,79,1005,6.67,100,5.81
8,8,Rikitea,PF,-23.12,-134.97,72,1023,23.07,1,1.61
9,9,Hong Kong,HK,22.29,114.16,93,1007,27.60,3,2.68
10,10,Pa Sang,TH,18.53,98.94,88,1008,23.88,40,2.60
11,11,Codrington,AU,-38.27,141.97,88,1019,6.52,100,3.82
12,12,Saint George,US,37.10,-113.58,12,1021,32.30,1,1.88

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [42]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()

In [43]:
locations = df1[["Lat", "Lon"]]
humidity = df1["Humidity"]

In [44]:
fig.add_layer(gmaps.heatmap_layer(locations, weights = humidity))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [58]:
df2 = df1.loc[(df1["Temp"] > 20) & (df1["Temp"] < 30),]
df2 = df2.dropna(how = "any")
df2.reset_index(inplace = True)
del df2["index"]
df2.head()

,Unnamed: 0,City,Country,Lat,Lon,Humidity,Pressure,Temp,Cloudiness,Wind Speed
0,1,Raja,SS,8.46,25.68,94,1012,22.29,100,1.37
1,6,Russell,US,32.35,-85.20,74,1017,26.52,90,4.10
2,8,Rikitea,PF,-23.12,-134.97,72,1023,23.07,1,1.61
3,9,Hong Kong,HK,22.29,114.16,93,1007,27.60,3,2.68
4,10,Pa Sang,TH,18.53,98.94,88,1008,23.88,40,2.60

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure